html {
  box-sizing: border-box;
  cursor: url("https://i.ibb.co/6bycCv7/Ellipse-4.png"), default;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #546de5;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

button {
  cursor: pointer;
}

.control-buttons {
  position: absolute;
  top: 25px;
  left: 25px;
  border: 2px solid black;
  border-radius: 10px;
}

.color-button, .disco-button, .change-button {
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;
  transition: 0.5s;
}

.color-button--icon, .disco-button--icon, .change-button--icon {
  width: 40px;
  height: 40px;
  filter: invert(97%) sepia(89%) saturate(424%) hue-rotate(308deg) brightness(97%) contrast(109%);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  grid-gap: 1.5rem;
}

.watcher {
  background-color: #778beb;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: background-color 1s ease-in-out;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}