html {
  box-sizing: border-box;
  cursor: url("https://i.ibb.co/6bycCv7/Ellipse-4.png"), default;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #546de5;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

button {
  cursor: pointer;
}

.control-buttons {
  position: absolute;
  top: 25px;
  left: 25px;
  border: 2px solid black;
  border-radius: 10px;
}

.color-button, .disco-button, .change-button, .shadow-button {
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;
  transition: 0.5s;
}

.color-button:hover, .disco-button:hover, .change-button:hover{
  filter: invert(99%) sepia(59%) saturate(1714%) hue-rotate(297deg) brightness(113%) contrast(103%);
}

.color-button--icon, .disco-button--icon, .change-button--icon, .shadow-button--icon {
  width: 40px;
  height: 40px;
  filter: invert(97%) sepia(89%) saturate(424%) hue-rotate(308deg) brightness(97%) contrast(109%);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  grid-gap: 1.5rem;
}

.watcher {
  background-color: #778beb;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: background-color 1s ease-in-out, clip-path 1s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
}

@media (max-width: 630px) {
  body {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .control-buttons {
    position: relative;
    top: 2vh;
    left: 0;
  }
  .wrapper {
    margin-top: 16vh;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);
  }
}

@media (max-width: 500px) {
  .wrapper {
    margin-top: 21vh;
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(6, 40px);
  }
}

@media (max-width: 400px) {
  .control-buttons {
    top: 5%;
  }
  .wrapper {
    margin-top: 25vh;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
  }
}

@media (max-width: 360px) {
  .wrapper {
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(4, 40px);
  }
}

@viewport {
  user-zoom: fixed;
}